@model WeatherApp1.Models.WeatherForecast

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WeatherForecast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label">Ден</label>
                <select asp-for="DayOfWeek" class="form-control">
                    <option value="">-- избери ден --</option>
                    <option value="Monday">Понеделник</option>
                    <option value="Tuesday">Вторник</option>
                    <option value="Wednesday">Сряда</option>
                    <option value="Thursday">Четвъртък</option>
                    <option value="Friday">Петък</option>
                    <option value="Saturday">Събота</option>
                    <option value="Sunday">Неделя</option>
                </select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherDescription" class="control-label">Време</label>
                <select asp-for="WeatherDescription" class="form-control">
                    <option value="">-- избери описание на времето --</option>
                    <option value="Sunny">Sunny</option>
                    <option value="Rainy">Rainy</option>
                    <option value="Cloudy">Cloudy</option>
                    <option value="Stormy">Stormy</option>
                    <option value="Snowy">Snowy</option>
                    <option value="Windy">Windy</option>
                    <option value="Foggy">Foggy</option>
                    <option value="Hazy">Hazy</option>
                </select>
                <span asp-validation-for="WeatherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxTemperature" class="control-label"></label>
                <input asp-for="MaxTemperature" class="form-control" />
                <span asp-validation-for="MaxTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinTemperature" class="control-label"></label>
                <input asp-for="MinTemperature" class="form-control" />
                <span asp-validation-for="MinTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label">Посока на вятъра</label>
                <select asp-for="WindDirection" class="form-control">
                    <option value="">-- избери посока на вятъра --</option>
                    <option value="North">North</option>
                    <option value="North-East">North-East</option>
                    <option value="East">East</option>
                    <option value="South-East">South-East</option>
                    <option value="South">South</option>
                    <option value="South-West">South-West</option>
                    <option value="West">West</option>
                    <option value="North-West">North-West</option>
                </select>
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RainProbability" class="control-label"></label>
                <input asp-for="RainProbability" class="form-control" />
                <span asp-validation-for="RainProbability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunrise" class="control-label"></label>
                <input type="time" asp-for="Sunrise" class="form-control" />
                <span asp-validation-for="Sunrise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunset" class="control-label"></label>
                <input type="time" asp-for="Sunset" class="form-control" />
                <span asp-validation-for="Sunset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoonPhase" class="control-label">Фаза на луната</label>
                <select asp-for="MoonPhase" class="form-control">
                    <option value="">-- избери фаза на луната --</option>
                    <option value="NewMoon">новолуние</option>
                    <option value="WaxingCrescent">изгряващ полумесец</option>
                    <option value="FirstQuarter">първа четвърт</option>
                    <option value="WaxingGibbous">растяща луна</option>
                    <option value="FullMoon">пълнолуние</option>
                    <option value="WaningGibbous">намаляваща луна</option>
                    <option value="LastQuarter">трета четвърт</option>
                    <option value="WaningCrescent">залязващ полумесец</option>
                </select>
                <span asp-validation-for="MoonPhase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
