@model WeatherApp1.Models.WeatherForecast

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WeatherForecast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label">Select Day</label>
                @* Drop-down list for selecting the day of the week *@
                <select asp-for="DayOfWeek" class="form-control">
                    <option value="">-- Select Day --</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherDescription" class="control-label"></label>
                <input asp-for="WeatherDescription" class="form-control" />
                <span asp-validation-for="WeatherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxTemperature" class="control-label"></label>
                <input asp-for="MaxTemperature" class="form-control" />
                <span asp-validation-for="MaxTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinTemperature" class="control-label"></label>
                <input asp-for="MinTemperature" class="form-control" />
                <span asp-validation-for="MinTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label">Select Wind Direction</label>
                @* Drop-down list for selecting the wind direction *@
                <select asp-for="WindDirection" class="form-control">
                    <option value="">-- Select Wind Direction --</option>
                    <option value="North">North</option>
                    <option value="North-East">North-East</option>
                    <option value="East">East</option>
                    <option value="South-East">South-East</option>
                    <option value="South">South</option>
                    <option value="South-West">South-West</option>
                    <option value="West">West</option>
                    <option value="North-West">North-West</option>
                </select>
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RainProbability" class="control-label"></label>
                <input asp-for="RainProbability" class="form-control" />
                <span asp-validation-for="RainProbability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunrise" class="control-label"></label>
                <input asp-for="Sunrise" class="form-control" />
                <span asp-validation-for="Sunrise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunset" class="control-label"></label>
                <input asp-for="Sunset" class="form-control" />
                <span asp-validation-for="Sunset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoonPhase" class="control-label">Select Moon Phase</label>
                <select asp-for="MoonPhase" class="form-control">
                    <option value="">-- Select Moon Phase --</option>
                    <option value="NewMoon">New Moon</option>
                    <option value="WaxingCrescent">Waxing Crescent</option>
                    <option value="FirstQuarter">First Quarter</option>
                    <option value="WaxingGibbous">Waxing Gibbous</option>
                    <option value="FullMoon">Full Moon</option>
                    <option value="WaningGibbous">Waning Gibbous</option>
                    <option value="LastQuarter">Last Quarter</option>
                    <option value="WaningCrescent">Waning Crescent</option>
                </select>
                <span asp-validation-for="MoonPhase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
